.filters {
  border: 2px dashed #333;
  border-radius: 5px;
  padding-bottom: 20px;
}
.filters fieldset {
  float: left;
  margin-right: 20px;
}
.filters fieldset legend {
  margin-bottom: 5px;
}
.filters fieldset label {
  padding-left: 20px;
}
.filters fieldset select {
  margin-top: 7px;
}
.filters fieldset.inline label {
  margin: 0 10px 0 0;
}
.filters fieldset.inline.quality {
  width: 100px;
}
.filters fieldset.inline.attributes {
  width: 280px;
}
.filters fieldset.inline.attributes label {
  width: 105px;
}
.filters .filtersContainer {
  overflow: hidden;
}
.filters button {
  clear: both;
  display: block;
  margin: 20px 50px 0 0;
}
.settings .checkbox-inline {
  margin: 0 10px 0 0;
}
.ui-menu .ui-menu-item-wrapper {
  padding: 0;
}
.ui-menu .ui-menu-item-wrapper.ui-state-active {
  font-weight: bold;
}
.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.paginationNavigation {
  display: flex;
  align-items: center;
  min-width: 100%;
  justify-content: center;
}
.paginationNavigation .pager {
  padding: 0 5px;
}
.bookingListing th {
  height: 141px;
  white-space: nowrap;
  padding: 0;
  text-align: -webkit-center;
}
.bookingListing th div {
  transform: translate(0, 10px) rotate(315deg);
  width: 9px;
}
.bookingListing td {
  border: 1px solid #ccc;
}
.histogramsAsTable .panel {
  float: left;
  margin-right: 20px;
}
.histogramsAsTable .btn-abort {
  float: left;
  margin-right: 20px;
}
.clustersanalysis .progressbar .alert {
  float: left;
}
.clustersanalysis .progressbar::after {
  clear: both;
  content: ' ';
  display: block;
}
.clustersanalysis .cluster .panel-heading {
  cursor: pointer;
}
.clustersanalysis .cluster .panel-heading span {
  float: right;
}
.clustersanalysis .cluster .panel-heading span.glyphicon-eye-open {
  display: none;
}
.settings button {
  margin-bottom: 50px;
}
.glyphicon-refresh {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
