.filters {
  border: 2px dashed #333;
  border-radius: 5px;
  padding-bottom: 20px;
}
.filters fieldset {
  float: left;
  margin-right: 20px;
}
.filters fieldset legend {
  margin-bottom: 5px;
}
.filters fieldset label {
  padding-left: 20px;
}
.filters fieldset select {
  margin-top: 7px;
}
.filters fieldset.inline label {
  margin: 0 10px 0 0;
}
.filters fieldset.inline.quality {
  width: 100px;
}
.filters fieldset.inline.attributes {
  width: 280px;
}
.filters fieldset.inline.attributes label {
  width: 105px;
}
.filters button {
  clear: both;
  display: block;
}
.paginationNavigation {
  display: flex;
  align-items: center;
  min-width: 100%;
  justify-content: center;
}
.paginationNavigation .pager {
  padding: 0 5px;
}
.bookingListing th {
  height: 141px;
  white-space: nowrap;
  padding: 0;
  text-align: -webkit-center;
}
.bookingListing th div {
  transform: translate(0, 10px) rotate(315deg);
  width: 9px;
}
.bookingListing td {
  border: 1px solid #ccc;
}
