{% extends "base.twig" %}

{% block content %}
    <div class="container">
        <h1>Attributanalysis</h1>
        <p>Search for frequent attributes in the all data or a filtered subset.
        The result will show attributes with their frequencies.</p>
    </div>

    {{ include('filters.twig') }}

    {% if histograms %}
        <div class="container">
            {{ include('histogramsAsTable.twig') }}
        </div>
    {% endif %}

    <div class="container">Runtime: {{ runtimeInSeconds }}</div>
{% endblock %}
