{% extends "base.twig" %}

{% block content %}
    <script>
        var statusUrl = "{{ statusUrl }}";
        var pullInterval = "{{ pullInterval }}";
        {% if isRunning %}
            var isRunning = true;
        {% else %}
            var isRunning = false;
        {% endif %}
    </script>

    <div class="container">
        <h1>Attributanalysis with grouping</h1>
        <p>This analysis creates groups of similar bookings and search for frequent attributes in them .
        The result will show attributes with their frequencies per group.</p>
    </div>

    {{ include('filters.twig') }}

    <div class="container" id="results-container">
        {% if isRunning %}
            <h1>Please wait. Updates every {{ pullInterval }} seconds...</h1>
        {% endif %}
    </div>
{% endblock %}
