{% extends "base.twig" %}

{% block content %}
    <script>
        var statusUrl = "{{ statusUrl }}";
        var pullInterval = "{{ pullInterval }}";
        {% if isRunning %}
            var isRunning = true;
        {% else %}
            var isRunning = false;
        {% endif %}
    </script>

    <div class="container">
        <h1>Attributanalysis with grouping</h1>
        <p>This analysis creates groups of similar bookings and search for frequent attributes in them .
        The result will show attributes with their frequencies per group.</p>
    </div>

    {{ include('filters.twig') }}

    <div class="container" id="results-container">
        {% if isRunning %}
            <div class="container clustersanalysis">
                <h1>Analysis in progress. Updates will come every {{ pullInterval }} seconds</h1>

                <div class="panel panel-default">
                    <div class="panel-heading">Progress</div>
                    <div class="panel-body">
                        <div class="progressbar">
                            <div class="alert alert-warning" role="alert">
                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                Cache data
                            </div>
                            <div class="alert alert-warning" role="alert">
                                Grouping data
                            </div>

                            <div class="alert alert-{% if status > 1 %}success{% else %}warning{% endif %}" role="alert">
                                Analyze data
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
