{% extends "base.twig" %}

{% block content %}
    <script>
        var statusUrl = "{{ statusUrl }}";
        var pullInterval = "{{ pullInterval }}";
        {% if isRunning %}
            var isRunning = true;
        {% else %}
            var isRunning = false;
        {% endif %}
    </script>

    <div class="container">
        <h1>Attributanalysis</h1>
        <p>Search for frequent attributes in the all data or a filtered subset.
        The result will show attributes with their frequencies.</p>
    </div>

    {{ include('filters.twig') }}

    <div class="container" id="results-container">
        {% if isRunning %}
            <h1>Analysis in progress. Updates will come every 10 seconds</h1>
        {% endif %}
    </div>
{% endblock %}
