
<div class="container filters">
    <form class="form-horizontal">
        <h2>Filters</h2>
        <fieldset>
            <legend>Price</legend>
            <div>
                <label class="radio"><input type="radio" name="price" value="budget"> Budget</label>
                <label class="radio"><input type="radio" name="price" value="budget"> Luxury</label>
            </div>
        </fieldset>
        <fieldset>
            <legend>Distances</legend>
            <label class="checkbox"><input type="checkbox" name="distance" value="sea"> Close to sea</label>
            <label class="checkbox"><input type="checkbox" name="distance" value="water"> Close to water</label>
            <label class="checkbox"><input type="checkbox" name="distance" value="lake"> Close to lake</label>
            <label class="checkbox"><input type="checkbox" name="distance" value="public-transport"> Close to public transport</label>
            <label class="checkbox"><input type="checkbox" name="distance" value="center"> Close to center</label>
            <label class="checkbox"><input type="checkbox" name="distance" value="ski"> Close to ski</label>
        </fieldset>
        <fieldset class="inline quality">
            <legend>Distances</legend>
            <label class="checkbox-inline"><input type="checkbox" name="quality" value="1"> 1</label>
            <label class="checkbox-inline"><input type="checkbox" name="quality" value="3"> 3</label>
            <label class="checkbox-inline"><input type="checkbox" name="quality" value="2"> 2</label>
            <label class="checkbox-inline"><input type="checkbox" name="quality" value="4"> 4</label>
            <label class="checkbox-inline"><input type="checkbox" name="quality" value="5"> 5</label>
        </fieldset>
        <fieldset>
            <legend>Rooms</legend>
            <select name="rooms" class="form-control">
                <option value="">Rooms</option>
                <option value="1">1+</option>
                <option value="2">2+</option>
                <option value="3">3+</option>
                <option value="4">4+</option>
                <option value="5">5+</option>
            </select>
            <select name="bedrooms" class="form-control">
                <option value="">Bedrooms</option>
                <option value="1">1+</option>
                <option value="2">2+</option>
                <option value="3">3+</option>
                <option value="4">4+</option>
                <option value="5">5+</option>
            </select>
        </fieldset>
        <fieldset class="inline attributes">
            <legend>Attributes</legend>
            <label class="checkbox-inline"><input type="checkbox" name="pets"> Pets allowed</label>
            <label class="checkbox-inline"><input type="checkbox" name="washingmachine"> Washingmachine</label>
            <label class="checkbox-inline"><input type="checkbox" name="aircondition"> Aircondition</label>
            <label class="checkbox-inline"><input type="checkbox" name="dishwasher"> Dishwasher</label>
            <label class="checkbox-inline"><input type="checkbox" name="pool"> Pool</label>
            <label class="checkbox-inline"><input type="checkbox" name="parking"> Parking</label>
            <label class="checkbox-inline"><input type="checkbox" name="bbq"> BBQ</label>
            <label class="checkbox-inline"><input type="checkbox" name="fireplace"> Fireplace</label>
            <label class="checkbox-inline"><input type="checkbox" name="sauna"> Sauna</label>
            <label class="checkbox-inline"><input type="checkbox" name="tv"> TV</label>
            <label class="checkbox-inline"><input type="checkbox" name="jacuzzi"> Jacuzzi</label>
            <label class="checkbox-inline"><input type="checkbox" name="balcony"> Balcony</label>
            <label class="checkbox-inline"><input type="checkbox" name="nonsmoking"> Non smoking</label>
            <label class="checkbox-inline"><input type="checkbox" name="internet"> Internet</label>
        </fieldset>
    </form>
</div>