
<div class="container filters">
    <form class="form-horizontal" action="?view={{ view }}" method="get">
        <h2>Filters</h2>
        <fieldset>
            <legend>Price</legend>
            <div>
                <label class="radio"><input type="radio" name="PRICES" value="budget"
                    {% if _GET['PRICES'] == 'budget' %} checked{% endif %}>
                    <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Budget</label>
                <label class="radio"><input type="radio" name="PRICES" value="luxury"
                    {% if _GET['PRICES'] == 'luxury' %} checked{% endif %}>
                    <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Luxury</label>
            </div>
        </fieldset>
        <fieldset>
            <legend>Distances</legend>
            <label class="checkbox"><input type="checkbox" name="DISEA"{% if _GET['DISEA'] %} checked{% endif %}> Close to sea</label>
            <label class="checkbox"><input type="checkbox" name="DIWATER"{% if _GET['DIWATER'] %} checked{% endif %}> Close to water</label>
            <label class="checkbox"><input type="checkbox" name="DILAKE"{% if _GET['DILAKE'] %} checked{% endif %}> Close to lake</label>
            <label class="checkbox"><input type="checkbox" name="DIPUBT"{% if _GET['DIPUBT'] %} checked{% endif %}> Close to public transport</label>
            <label class="checkbox"><input type="checkbox" name="DICENTER"{% if _GET['DICENTER'] %} checked{% endif %}> Close to center</label>
            <label class="checkbox"><input type="checkbox" name="DISKI"{% if _GET['DISKI'] %} checked{% endif %}> Close to ski</label>
        </fieldset>
        <fieldset class="inline quality">
            <legend>Stars</legend>
            <label class="checkbox-inline"><input type="checkbox" name="QUAL[]" value="1"{% if _GET['QUAL']|keys %} checked{% endif %}> 1</label>
            <label class="checkbox-inline"><input type="checkbox" name="QUAL[]" value="3"{% if _GET['QUAL']|keys %} checked{% endif %}> 3</label>
            <label class="checkbox-inline"><input type="checkbox" name="QUAL[]" value="2"{% if _GET['QUAL']|keys %} checked{% endif %}> 2</label>
            <label class="checkbox-inline"><input type="checkbox" name="QUAL[]" value="4"{% if _GET['QUAL']|keys %} checked{% endif %}> 4</label>
            <label class="checkbox-inline"><input type="checkbox" name="QUAL[]" value="5"{% if _GET['QUAL']|keys %} checked{% endif %}> 5</label>
        </fieldset>
        <fieldset>
            <legend>Rooms</legend>
            <select name="ROOMS" class="form-control">
                <option value="">Rooms</option>
                <option value="1"{% if _GET['ROOMS'] == '1' %} selected{% endif %}>1+</option>
                <option value="2"{% if _GET['ROOMS'] == '2' %} selected{% endif %}>2+</option>
                <option value="3"{% if _GET['ROOMS'] == '3' %} selected{% endif %}>3+</option>
                <option value="4"{% if _GET['ROOMS'] == '4' %} selected{% endif %}>4+</option>
                <option value="5"{% if _GET['ROOMS'] == '5' %} selected{% endif %}>5+</option>
            </select>
            <select name="BEDROOMS" class="form-control">
                <option value="">Bedrooms</option>
                <option value="1"{% if _GET['BEDROOMS'] == '1' %} selected{% endif %}>1+</option>
                <option value="2"{% if _GET['BEDROOMS'] == '2' %} selected{% endif %}>2+</option>
                <option value="3"{% if _GET['BEDROOMS'] == '3' %} selected{% endif %}>3+</option>
                <option value="4"{% if _GET['BEDROOMS'] == '4' %} selected{% endif %}>4+</option>
                <option value="5"{% if _GET['BEDROOMS'] == '5' %} selected{% endif %}>5+</option>
            </select>
        </fieldset>
        <fieldset class="inline attributes">
            <legend>Attributes</legend>
            <label class="checkbox-inline"><input type="checkbox" name="PETS"{% if _GET['PETS'] %} checked{% endif %}> Pets allowed</label>
            <label class="checkbox-inline"><input type="checkbox" name="CWASHMACHI"{% if _GET['CWASHMACHI'] %} checked{% endif %}> Washingmachine</label>
            <label class="checkbox-inline"><input type="checkbox" name="CAIRCOND"{% if _GET['CAIRCOND'] %} checked{% endif %}> Aircondition</label>
            <label class="checkbox-inline"><input type="checkbox" name="CDISHWASHE"{% if _GET['CDISHWASHE'] %} checked{% endif %}> Dishwasher</label>
            <label class="checkbox-inline"><input type="checkbox" name="CPOOL"{% if _GET['CPOOL'] %} checked{% endif %}> Pool</label>
            <label class="checkbox-inline"><input type="checkbox" name="CPARKING"{% if _GET['CPARKING'] %} checked{% endif %}> Parking</label>
            <label class="checkbox-inline"><input type="checkbox" name="CBBQ"{% if _GET['CBBQ'] %} checked{% endif %}> BBQ</label>
            <label class="checkbox-inline"><input type="checkbox" name="CFIREPLACE"{% if _GET['CFIREPLACE'] %} checked{% endif %}> Fireplace</label>
            <label class="checkbox-inline"><input type="checkbox" name="CSAUNA"{% if _GET['CSAUNA'] %} checked{% endif %}> Sauna</label>
            <label class="checkbox-inline"><input type="checkbox" name="SCTV"{% if _GET['SCTV'] %} checked{% endif %}> TV</label>
            <label class="checkbox-inline"><input type="checkbox" name="CJACUZZI"{% if _GET['CJACUZZI'] %} checked{% endif %}> Jacuzzi</label>
            <label class="checkbox-inline"><input type="checkbox" name="SCBALCONY"{% if _GET['SCBALCONY'] %} checked{% endif %}> Balcony</label>
            <label class="checkbox-inline"><input type="checkbox" name="SCNOSMOKE"{% if _GET['SCNOSMOKE'] %} checked{% endif %}> Non smoking</label>
            <label class="checkbox-inline"><input type="checkbox" name="INTERNET"{% if _GET['INTERNET'] %} checked{% endif %}> Internet</label>
        </fieldset>
        {% for buttonConfig in buttonConfigs %}
            <button type="submit" class="btn btn-primary" name="action" value="{{ buttonConfig.getAction() }}">{{ buttonConfig.getText() }}</button>
        {% endfor %}
    </form>
</div>