{% verbatim %}
    {{#frequentSet}}
        <table class="table table-responsive">
            <thead class="thead-default">
                <tr>
                    <th colspan="2">Set size: {{ histogram.setSize }}</th>
                </tr>
                <tr>
                    <th>Fields</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for histogramBin in sortHistogramBinsByCount(histogram.histogramBins) %}
                    <tr>
                        <td>
                            {% for fieldName, fieldValue in histogramBin.fields %}
                            {{fieldTitle fieldName}}={{fieldValue}}<br/>
                            {% endfor %}
                        </td>
                        <td>{{ histogramBin.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {{/frequentSet}}
{% endverbatim %}